<h1> Show The User Enter Data. </h1>



<p>
Title: <%=   @article.title%>
</p>

<p>
Description: <%=   @article.description%>
</p>

<p>
<%= button_to "Delete", @article , method: :delete, data: {confirm: "Are You Sure?"} %> 

</p>


<p>
<%= link_to "Edit That Article!", edit_article_path %>
</p>



<p>
<%= link_to "Back To Listing Articles Page!", articles_path %>
</p>
